{% extends 'base2.html' %}

{% block content %}
<style>
    .profile {
        width: fit-content;
        top: 50%;
        font-weight: bold;
        padding: 10px;
        border: 2px solid #070708;
        background-color: white;
        margin: 40px auto;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    th,
    td {
        border: 2px solid #070708;
        padding: 10px;
        font-size: 18px;
    }

    button {
        width: 100%;
        font-size: 18px;
        padding: 10px;
        background-color: #070708;
        color: white;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        margin-top: 10px;
    }
</style>
<div class="profile">
    {% for pre in pre %}
    <div>
        <h2>Date : {{ pre.date|date:"F d Y" }}</h2>
        <b>Symptoms : </b>{{ pre.disease }}<br><br>
        <b>Prescription : </b>{{ pre.prescription }}<br><br>
    </div>
    {% endfor %}
</div>

{% endblock %}